<!--
  Generated template for the NewClient page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Client record</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="saveClient()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="!client.id">
    <ion-card-header>
      Registering a new Client
    </ion-card-header>
    <ion-card-content>
      To register a new client you will need to provide a company name, an email and contact.
    </ion-card-content>
  </ion-card>

    <ion-card *ngIf="client.id">
    <ion-card-header>
      Editing {{client.name}}
    </ion-card-header>
    <ion-card-content>
       When you're finished updating this record tap the save button (on the top bar) 
    </ion-card-content>
  </ion-card>

  <ion-list padding>

    <ion-item-divider>
      <h2><b>Company info</b></h2>
    </ion-item-divider>

    <ion-item>
      <ion-icon name="contact" item-left></ion-icon>
      <ion-label>Company name</ion-label>
      <ion-input type="text" value="" [(ngModel)]="client.name" ngControl="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="map" item-left></ion-icon>
      <ion-label>Address</ion-label>
      <ion-input type="text" [(ngModel)]="client.address" ngControl="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <ion-label>General Email</ion-label>
      <ion-input type="email" [(ngModel)]="client.email" ngControl="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <ion-label>Contact email</ion-label>
      <ion-input type="email" [(ngModel)]="client.contact_email" ngControl="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call" item-left></ion-icon>
      <ion-label>Phone number</ion-label>
      <ion-input type="tel" [(ngModel)]="client.contact" ngControl="telephone"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>