<!--
  Generated template for the Clients page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Portfolio</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>


  <ion-card *ngIf="clients===undefined">
    <ion-card-header>
      No records available
    </ion-card-header>
    <ion-card-content>
      You have no registered clients. You can add new clients by tapping the button below.
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="error">
    <ion-item>
      <ion-avatar item-left>
        <img src="img/cloud_error.png">
      </ion-avatar>
      <h2>Unable to fetch resources</h2>
    </ion-item>
    <ion-card-content>
      <p>
        For some reason, BMApp was unable to get the records from the server.
      </p>

      <ul>
        <li>Please check your internet connection;</li>
        <li>This can also be due to a scheduled maitenance. Try again in a few minutes;</li>
        <li>If this persists, please contact the operations team to solve this issue quickly and get BMApp back online.</li>
      </ul>

    </ion-card-content>

    <ion-row>
      <ion-col>
        <button item-right ion-button icon-left clear small (click)="refreshList()">
        <ion-icon name="refresh"></ion-icon>
        <div>Refresh</div>
      </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-fab padding right bottom>
    <button ion-fab color="primary" (click)="newClient()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-refresher (ionRefresh)="loadClients($event)">
    <ion-refresher-content
     pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
       refreshingSpinner="circles"
        refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines [virtualScroll]="clients" [approxItemHeight]="'100px'">
    <ion-card *virtualItem="let client">
      <ion-item (click)="editClient($event, client)">
        <ion-avatar item-left>
          <!--<img src="img/marty-avatar.png"> -->
          <h1>{{client.name.substring(0,1)}}</h1>
        </ion-avatar>
        <h2>{{client.name}}</h2>
        <p *ngIf="client.address">{{client.address}}</p>
        <p *ngIf="client.email">{{client.email}}</p>
        <p *ngIf="client.contact">{{client.contact}}</p>
      </ion-item>
      <ion-card-content *ngIf="client.description">
        <p>{{client.description}}</p>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col>
          <button ion-button disabled clear color="primary" icon-left (click)="share($event, client)">
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear color="primary" icon-left [disabled]="!client.email" [disabled]="client.email===''" (click)="email($event, client)">
          <ion-icon name='mail'></ion-icon>
          Mail
        </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear color="primary" icon-left [disabled]="!client.contact" (click)="call($event, client)">
          <ion-icon name='call'></ion-icon>
          Call
        </button>
        </ion-col>
      </ion-row>


    </ion-card>
  </ion-list>

</ion-content>