<!--
  Generated template for the Clients page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Portfolio</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>


  <ion-card *ngIf="clients===undefined">
    <ion-card-header>
      No records available
    </ion-card-header>
    <ion-card-content>
      You have no registered clients. You can add new clients by tapping the button below.
    </ion-card-content>

  </ion-card>

    <ion-fab padding right bottom>
    <button ion-fab color="primary" (click)="newClient()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list no-lines>

    <ion-item *ngFor="let client of clients">
      <ion-card>
        <ion-item>
          <ion-avatar item-left>
            <!--<img src="img/marty-avatar.png"> -->
            <h1>{{client.name.substring(0,1)}}</h1>
          </ion-avatar>
          <h2>{{client.name}}</h2>
          <p>{{client.address}}</p>
          <p>{{client.contact}}</p>
        </ion-item>
        <ion-card-content *ngIf="client.description">
          <p>{{client.description}}</p>
        </ion-card-content>

        <ion-row>
          <ion-col width-33>
            <button ion-button primary clear small *ngIf="client.contact" (click)="call($event, client)">
        <ion-icon name="call"> Call</ion-icon>
      </button>

          </ion-col>
          <ion-col width-33>
            <button ion-button primary clear small *ngIf="client.email" (click)="email($event, client)">
        <ion-icon name="mail"> Mail</ion-icon>
      </button>

          </ion-col>
          <ion-col width-33>
            <button ion-button primary clear small *ngIf="client.address" (click)="navigate($event, client)">
        <ion-icon name="navigate"> Go</ion-icon>
      </button>
          </ion-col>

        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>