<!--
  Generated template for the Consultants page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="true" [animated]="true" (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  
  </ion-navbar>
  
  <ion-toolbar>
<ion-segment secondary [(ngModel)]="consultantsFilter" (ionChange)="filterConsultants()">
      <ion-segment-button value="mine">
        My consultants
      </ion-segment-button>
      <ion-segment-button value="all">
        All
      </ion-segment-button>
    </ion-segment>
    
  </ion-toolbar>

</ion-header>
<ion-content no-padding>

  <ion-card *ngIf="!filteredConsultants || filteredConsultants.length === 0">
    <ion-card-header>
      No records available
    </ion-card-header>
    <ion-card-content>
      You have no registered consultants. You can add new consultants by tapping the button below.
    </ion-card-content>

  </ion-card>

  <ion-fab padding right bottom>
    <button ion-fab color="primary" (click)="newConsultant()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list *ngIf="filteredConsultants && filteredConsultants.length > 0" no-lines [virtualScroll]="filteredConsultants" [approxItemHeight]="'100px'">

    <ion-card *virtualItem="let consultant" text-wrap>

      <ion-row (click)="editConsultant($event, consultant)">
        <ion-col width-67 style="background-color:#c9001d">
          <h2 style="color:white;"><b>{{consultant.name}}</b></h2>
          <p style="color:white; ">{{consultant.skills}}</p>
        </ion-col>
        <ion-col style="background: linear-gradient(to left bottom, #fff 50%, #c9001d 50%);border-top:1px solid #c9001d;border-bottom:1px solid #c9001d;">
        </ion-col>
        <ion-col width-25 style="background-color:white; border-color:#c9001d; border-width: 1px; border-style: solid;border-left:none; text-align:center; margin:0 auto;">
          <div style="font-size:15px; color:#c9001d; text-alignment:center;">
            <p><b>€{{consultant.package}}</b></p>
            <b>{{consultant.client}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-card-content>
        <p>
          <ion-icon name="calendar"> Started: {{consultant.starting_date}}</ion-icon>
        </p>
        <p>
          <ion-icon name="calendar"> Until: {{consultant.ending_date}}</ion-icon>
        </p>
        <p>
          <ion-icon name="microphone" *ngIf="consultant.languages"> {{consultant.languages}}</ion-icon>
        </p>
        <p>
          <ion-icon name="car" *ngIf="consultant.car"> {{consultant.car ? 'Yes' : 'No'}}</ion-icon>
        </p>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col>
          <button ion-button disabled clear color="primary" icon-left (click)="share($event, consultant)">
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear color="primary" icon-left [disabled]="consultant.email===''" (click)="email($event, consultant)">
          <ion-icon name='mail'></ion-icon>
          Mail
        </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear color="primary" icon-left [disabled]="consultant.contact===''" (click)="call($event, consultant)">
          <ion-icon name='call'></ion-icon>
          Call
        </button>
        </ion-col>
      </ion-row>


    </ion-card>
  </ion-list>

</ion-content>