.ios {
    page-missions {
        ion-segment {
            background: #c9001d;
            padding: 5px;
        }
}
}

.android, .md, .wp {
    page-missions {
        ion-segment {
            background: #c9001d;
        }
}
}
