<!--
  Generated template for the Missions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="true" [animated]="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>

  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="missionFilter" (ionChange)="filterMissions()" color="primary">
      <ion-segment-button value="mine">
        My missions
      </ion-segment-button>
      <ion-segment-button value="all">
        All
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>

</ion-header>
<ion-content no-padding>

  <ion-card *ngIf="(!filteredMissions || filteredMissions.length === 0) && !error">
    <ion-card-header>
      No records available
    </ion-card-header>
    <ion-card-content>
      You have no registered missions. You can add new missions by tapping the button below.
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="error">
    <ion-item>
      <ion-avatar item-left>
        <img src="img/cloud_error.png">
      </ion-avatar>
      <h2>Unable to fetch resources</h2>
    </ion-item>
    <ion-card-content>
      <p>
        For some reason, BMApp was unable to get the records from the server.
      </p>

      <ul>
        <li>Please check your internet connection;</li>
        <li>This can also be due to a scheduled maitenance. Try again in a few minutes;</li>
        <li>If this persists, please contact the operations team to solve this issue quickly and get BMApp back online.</li>
      </ul>

    </ion-card-content>

    <ion-row>
      <ion-col>
        <button item-right ion-button icon-left clear small (click)="loadConsultants()">
        <ion-icon name="refresh"></ion-icon>
        <div>Refresh ({{error.status}})</div>
      </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-fab padding right bottom>
    <button ion-fab color="primary" (click)="newMission()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-refresher (ionRefresh)="loadMissions($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="filteredMissions && filteredMissions.length > 0" no-lines [virtualScroll]="filteredMissions" [approxItemHeight]="'100px'">

    <ion-card *virtualItem="let mission" text-wrap>

     <ion-item (click)="editMission($event, mission)">
        <h1>{{mission.clientName}}</h1>
        <h2>{{mission.role}}</h2>
        <p *ngIf="mission.country">{{mission.country}}</p>
      </ion-item>
      <ion-card-content>

        <p *ngIf="mission.startDate">From: {{mission.startDate}}</p>
        <p *ngIf="mission.endDate">To: {{mission.endDate}}</p>
        <p *ngIf="mission.sellingPrice">Selling price: €{{mission.sellingPrice}}</p>
        <p *ngIf="mission.sellingPrice">Cost: €{{mission.cost}}</p>
        <hr>
        <p item-right><b>Profit: €{{mission.margin}} ({{mission.percentage}}%)</b></p>
      </ion-card-content>



    </ion-card>
  </ion-list>

</ion-content>