<!--
  Generated template for the NewConsultant page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="consultant.initials === ''">New Consultant</ion-title>
    <ion-title *ngIf="consultant.initials !== ''">Edit Consultant</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="saveConsultant()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="consultant.initials === ''">
    <ion-card-header>
      Registering a new Consultant
    </ion-card-header>
    <ion-card-content>
      To register a new consultant you will need to provide an email, contact and assign a new or ongoing mission.
    </ion-card-content>
  </ion-card>

   <ion-card *ngIf="isReadOnly">
    <ion-card-header>
      Notice
    </ion-card-header>
    <ion-card-content>
      You can't edit this consultant because he was registered by another business manager. Should you need to update this record, please contact the correspondant business manager.
    </ion-card-content>
  </ion-card>

  <ion-list padding>

    <ion-item-divider>
      <h2><b>Personal info</b></h2>
    </ion-item-divider>

    <ion-item>
      <ion-icon name="ios-contact-outline" item-left></ion-icon>
      <ion-label>Full Name</ion-label>
      <ion-input disabled="{{isReadOnly}}" type="text" value="" [(ngModel)]="consultant.name" ngControl="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-mail-outline" item-left></ion-icon>
      <ion-label>Email</ion-label>
      <ion-input disabled="{{isReadOnly}}" type="email" [(ngModel)]="consultant.email" ngControl="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-call-outline" item-left></ion-icon>
      <ion-label>Phone number</ion-label>
      <ion-input disabled="{{isReadOnly}}" type="tel" [(ngModel)]="consultant.contact" ngControl="telephone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-calendar-outline" item-left></ion-icon>
      <ion-label>Starting date</ion-label>
      <ion-datetime  disabled="{{isReadOnly}}" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [(ngModel)]="consultant.starting_date" ngControl="starting_date"></ion-datetime>
    </ion-item>

    <ion-item>  
      <ion-icon name="ios-calendar-outline" item-left></ion-icon>
      <ion-label>Ending date</ion-label>
      <ion-datetime  disabled="{{isReadOnly}}" max="2020-12-31" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" [(ngModel)]="consultant.ending_date" ngControl="ending_date"></ion-datetime>
    </ion-item>

    <ion-item-divider>
      <h2><b>Skills</b></h2>
    </ion-item-divider>

    <ion-item>
      <ion-icon name="ios-build-outline" item-left></ion-icon>
      <ion-label>Skills set</ion-label>
      <ion-input disabled="{{isReadOnly}}" type="text" [(ngModel)]="consultant.skills" ngControl="skills"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-microphone-outline" item-left></ion-icon>
      <ion-label>Languages</ion-label>
      <ion-input disabled="{{isReadOnly}}" type="text" [(ngModel)]="consultant.languages" ngControl="languages"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-cash-outline" item-left></ion-icon>
      <ion-label>Package</ion-label>
      <ion-input disabled="{{isReadOnly}}" type="number" [(ngModel)]="consultant.package" ngControl="package"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-car-outline" item-left></ion-icon>
      <ion-label>Company car</ion-label>
      <ion-toggle disabled="{{isReadOnly}}" checked="false" [(ngModel)]="consultant.car" ngControl="car"></ion-toggle>
    </ion-item>

  <ion-item-divider>
    <h2><b>Mission</b></h2>
  </ion-item-divider>

  <ion-item text-wrap>
    <p>You can assign a mission to a consultant at any time. To do so, tap the button below and pick a mission or client to assign. You can also provide a project duration, if applicable so you can get alerts on upcoming deadlines.</p>
    <button ion-button block primary outline padding (click)="pickMission()">{{consultant.client}}</button>
  </ion-item>
  </ion-list>
</ion-content>