<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BMapp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>BM app</h3>


 <ion-card *ngIf="!consultants">
    <ion-card-header>
      No consultants
    </ion-card-header>
    <ion-card-content>
      You haven't registered any consultants. To do so tap the button below. BMapp will help you manage your consultants and client portfolio.
    <button ion-button full primary outline padding (click)="newConsultantPage()">New record</button>
    </ion-card-content>
  </ion-card>

  <p *ngIf="(consultants)">
    You have {{clients.lenght}} registered clients and {{consultants.lenght}} consultants under your supervision
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
