<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BMapp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card>

  <ion-item>
    <ion-avatar item-left>
      <ion-icon name="analytics"> </ion-icon>
    </ion-avatar>
    <h2>Summary</h2>
    <p>{{today}}</p>
  </ion-item>

  <ion-card-content >
    <p *ngIf="consultants">You are currently supervising <b>{{consultants.length}}</b> consultants at the moment. Your portfolio comprises a total of <b>{{clients.length}}</b> clients</p>
    <p *ngIf="!consultants">You have no registered consultants so far, you can register new ones by tapping the button below</p>
  </ion-card-content>

</ion-card>

<ion-card>

  <ion-item>
    <ion-avatar item-left>
      <ion-icon name="calculator"> </ion-icon>
    </ion-avatar>
    <h2>Performance</h2>
  </ion-item>

  <ion-card-content >
    <p>4 of your consultants have no mission assigned</p>
    <p>You have 12 ongoing missions</p>
    <p>Of these, 3 are coming to a deadline</p>
    <p><b>This will show a chart for your ongoing missions</b></p>
  </ion-card-content>
</ion-card>

<ion-card>

  <ion-item>
    <ion-avatar item-left>
      <ion-icon name="cloud"> </ion-icon>
    </ion-avatar>
    <h2>Objectives</h2>
  </ion-item>

  <ion-card-content >
    <p>You established that you want to have <b>32</b> running missions</p>
    <p>You can change this and other settings by tapping the button bellow. Notice that by changing your objectives, some warnings can become obsolete.</p>

    <button ion-button outline (click)="switchToSettings()">Application Settings</button>
  </ion-card-content>
</ion-card>



  <ion-fab padding right bottom>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="pushNewConsultant()"><ion-icon name="person"></ion-icon></button>
      <button ion-fab (click)="pushNewClient()"><ion-icon name="briefcase"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>