<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BMapp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item>
      <h2><b>Summary</b></h2>
      <p>{{today}}</p>
    </ion-item>

    <ion-card-content>
      <ion-grid>

        <ion-row text-wrap *ngIf="clients">
          <ion-col width-10>
            <ion-icon name="briefcase"></ion-icon>
          </ion-col>

          <ion-col width-90>
            <b color="primary" (click)="switchToClientsList()">{{clients.length}} clients in your portfolio</b>
          </ion-col>
        </ion-row>

        <ion-row text-wrap>
          <ion-col width-10>
            <ion-icon name="person"></ion-icon>
          </ion-col>

          <ion-col width-90>
            <b color="primary" (click)="switchToConsultantsList()">{{assignedCount + standbyCount}} consultants under your supervision</b>
          </ion-col>
        </ion-row>

          <ion-row text-wrap *ngIf="standbyCount > 0">
          <ion-col width-10>
            <ion-icon name="clock"></ion-icon>
          </ion-col>
          <ion-col width-90>
            <b color="primary">{{standbyCount}} consultants waiting for a mission</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50>
            <button ion-button outline small block (click)="switchToConsultantsList()"><b>My Consultants</b></button>
          </ion-col>

          <ion-col width-50>
            <button ion-button outline small block (click)="switchToClientsList()"><b>My Clients</b></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item  text-wrap>
      <ion-avatar item-right>
        <ion-icon name="analytics"> </ion-icon>
      </ion-avatar>
      <h2>Performance</h2>
      <p>How you compare to other business managers in your unit, based on your <b>running missions</b></p>
    </ion-item>
    <ion-card-content>
      <chart [options]="competitionOptions"></chart>
    </ion-card-content>
  </ion-card>


<ion-card>
    <ion-item  text-wrap>
      <ion-avatar item-right>
        <ion-icon name="analytics"> </ion-icon>
      </ion-avatar>
      <h2>Your consultants</h2>
      <p>Your consultants' distribution based on their missions' status</p>
    </ion-item>
    <ion-card-content>
      <chart [options]="consultantsDistributionOptions"></chart>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-avatar item-right>
        <ion-icon name="cloud"> </ion-icon>
      </ion-avatar>
      <h2>Objectives</h2>
    </ion-item>

    <ion-card-content>
      <p *ngIf="user">You established that you want to have <b>{{user.target}}</b> running missions. You can change this and other settings by tapping
        the button bellow. Notice that by changing your objectives, some warnings can become obsolete.</p>
      <button ion-button outline block (click)="switchToSettings()">Application Settings</button>
    </ion-card-content>
  </ion-card>



  <ion-fab padding right bottom>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="pushNewConsultant()"><ion-icon name="person"></ion-icon></button>
      <button ion-fab (click)="pushNewClient()"><ion-icon name="briefcase"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>